//* Import utils *//

@import "../utils/_variables";

//* Police + Annulations/Modifications d'éléments  *//

a {
    text-decoration: none;
}

h1 {
    margin: 0 0 0 0;
    font-size: 1.3em;
}

body {
    margin: 0 0 0 0;
    font-family: $font_text;
}
